main #menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    align-items: center;
    justify-items: center;
    margin: 8px;
}

main #menu a {
    text-decoration: none;
    height: fit-content;
    margin: 5px;
    border-radius: 12px;
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.18), 0px 12px 12px 0px rgba(0,0,0,0.15);
    transition: ease 700ms all;
}

main #menu a:hover {
    opacity: 0.8;
    margin-top: -10px;
    margin-bottom: 10px;
}

main #menu a button {
    cursor: pointer;
    font-size: 22px;
    color: black;
    background-color: #00D69E;
    border: 2px solid black;
    opacity: 1;
    object-fit: cover;
    height: 100%;
    width: 100%;
    padding: 0px 15px;
    border-radius: 12px;
}

#menu a button h4, #menu a button p {
    text-align: left;
    margin: 5px 0px;
}

#menu a button p {
    display: none;
}