html footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #042B5D;
    width: 100%;
    box-sizing: border-box;
}

footer a {
    height: 5vh;
    margin: 1.5vh;
    border-radius: 50%;
    width: auto;
    overflow: hidden;
}

footer a img {
    object-fit: cover;
    height: 100%;
}