<!DOCTYPE html>
<!-- Author: https://github.com/DiegoEmilio01 -->
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="../style/style.css" />
        <title>Diego Bustamante - Curriculum</title>
    </head>
    <body>
        <header>
            <div class="headerInfo">
                <a title="Página principal" href="../index.html"><h1>Diego Emilio Bustamante Henríquez</h1></a>
            </div>
        </header>
        <main>
            <object type="application/pdf" data="../assets/curriculum.pdf?#zoom=105">
            </object>
            <iframe
                id="curriculum"
                src="https://drive.google.com/viewerng/viewer?embedded=true&url=https://diegoemilio.com/assets/curriculum.pdf#toolbar=0&scrollbar=0"
                frameBorder="0"
                scrolling="auto"
            ></iframe>
        </main>
        <footer>
            <a title="Enviar un mail" href="mailto:diegobustama@uc.cl"><img src="../assets/icons/letter.svg" alt="Ícono Carta"></a>
            <a title="Instagram" href="https://www.instagram.com/diegoemilio01/"><img src="../assets/icons/instagram.svg" alt="Logo Instagram"></a>
            <a title="GitHub" href="https://github.com/DiegoEmilio01"><img src="../assets/icons/github.svg" alt="Logo Github"></a>
        </footer>
    </body>
</html>