<!DOCTYPE html>
<!-- Author: https://github.com/DiegoEmilio01 -->
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link media="screen" rel="stylesheet preload" href="../style/style.css">
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-1DSGXH6QJQ"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-1DSGXH6QJQ');
        </script>
        <title>Diego Bustamante - Curriculum</title>
        <meta name="description" content="Curriculum de Diego Emilio Bustamante Henríquez. En él encontrarás información de Diego sobre su experiencia en trabajos, estudios, investigaciones y actividades extraprogramáticas." />
    </head>
    <body>
        <header>
            <div class="headerInfo">
                <a title="Página principal" href="../index.html"><h1>Diego Emilio Bustamante Henríquez</h1></a>
            </div>
        </header>
        <main>
            <object type="application/pdf" data="../assets/curriculum.pdf?#zoom=105">
            </object>
            <iframe
                id="curriculum"
                src="https://drive.google.com/viewerng/viewer?embedded=true&url=https://diegoemilio.com/assets/curriculum.pdf#toolbar=0&scrollbar=0"
                frameBorder="0"
                scrolling="auto"
                loading="lazy"
            ></iframe>
        </main>
        <footer>
            <a title="Enviar un mail" href="mailto:diegobustama@uc.cl"><img src="../assets/icons/letter.svg" loading="lazy" alt="Ícono Carta"></a>
            <a title="Instagram" href="https://www.instagram.com/diegoemilio01/"><img src="../assets/icons/instagram.svg" loading="lazy" alt="Logo Instagram"></a>
            <a title="GitHub" href="https://github.com/DiegoEmilio01"><img src="../assets/icons/github.svg" loading="lazy" alt="Logo Github"></a>
        </footer>
    </body>
</html>