<!DOCTYPE html>
<!-- Author: https://github.com/DiegoEmilio01 -->
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link media="screen" rel="stylesheet preload" as="style" href="../style/reviews.css">
        <link media="screen" rel="stylesheet preload" as="style" href="../style/header.css">
        <link media="screen" rel="stylesheet preload" as="style" href="../style/index.css">
        <link media="screen" rel="stylesheet preload" as="style" href="../style/footer.css">
        <link media="screen" rel="stylesheet preload" as="style" href="../style/queries.css">
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-1DSGXH6QJQ"></script>
        <script>
            try {
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', 'G-1DSGXH6QJQ');
            } catch (error) {
                console.log('Error: Google Analytics requests failed');
            }
        </script>
        <title>Diego Bustamante - Reviews</title>
        <meta name="description" content="Calificación que Diego Emilio Bustamante Henríquez le ha dado a diversas películas y series con el objetivo de compartir sus recomendaciones." />
    </head>
    <body>
        <header>
            <div class="headerInfo">
                <a title="Página principal" href="../index.html"><h1>Diego Emilio Bustamante Henríquez</h1></a>
            </div>
        </header>
        <main>
            <iframe
                id="reviews"
                src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRK7LMQYzP7rBskmcNHO8fa_jw_tlvvABdLFE51Hiw0auXTdbLKX42A2rUxajjvtg/pubhtml?widget=true&amp;headers=false&amp;chrome=false"
                loading="lazy"
            ></iframe>
        </main>
        <footer>
            <a title="Enviar un mail" href="mailto:diegobustama@uc.cl"><img src="../assets/icons/letter.svg" loading="lazy" alt="Ícono Carta"></a>
            <a title="Instagram" href="https://www.instagram.com/diegoemilio01/"><img src="../assets/icons/instagram.svg" loading="lazy" alt="Logo Instagram"></a>
            <a title="GitHub" href="https://github.com/DiegoEmilio01"><img src="../assets/icons/github.svg" loading="lazy" alt="Logo Github"></a>
        </footer>
    </body>
</html>